/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: "Helvetica";
  src: url("assets/fonts/Helvetica.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("assets/fonts/Helvetica-Bold.ttf") format("truetype");
  font-weight: bold;
}

/*--------------------------------------------------------------
# Reset
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  background-color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*--------------------------------------------------------------
# Background
--------------------------------------------------------------*/
.bg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  z-index: -1;
}

.bg-left {
  width: 55%;
  height: 100%;
  background-color: white;
}

.bg-right {
  width: 45%;
  height: 100%;
  background-color: #177843;
}

/*--------------------------------------------------------------
# Container
--------------------------------------------------------------*/
.container {
  width: 100%;
  min-width: 1024px;
  max-width: 1280px;
  height: 100vh;
  min-height: 750px;
  max-height: 800px;
  background-color: white;
  margin: auto;
  overflow: hidden;
}

/*--------------------------------------------------------------
# Logo Blédina
--------------------------------------------------------------*/
.logo-bledina {
  position: absolute;
  bottom: 24px;
  left: 50px;
}

/*--------------------------------------------------------------
# Slide 1
--------------------------------------------------------------*/
.slide-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Left side */
.slide-1 .left-side {
  width: 55%;
  height: 100%;
  background-color: white;
  position: relative;
}

.slide-1 .left-side .header {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 124px;
  top: 32px;
}

.slide-1 .left-side .header .logo-nursie {
  margin-bottom: 10px;
}

.slide-1 .left-side .header .body {
  text-align: center;
  text-transform: uppercase;
  font-family: "Helvetica";
  font-size: 22px;
  color: #177843;
}

.slide-1 .left-side .header .body span {
  color: #6b33a0;
  font-weight: bold;
}

.slide-1 .left-side .baby-picture {
  position: absolute;
  bottom: 140px;
  left: 50px;
  z-index: 1;
}

/* Right side */
.slide-1 .right-side {
  width: 45%;
  height: 100%;
  background-color: #177843;

  position: relative;
}

.slide-1 .right-side::before {
  content: url("/assets/slide-1/separation.svg");
  position: absolute;
  top: 0;
  left: -268px;
}

.slide-1 .right-side .home-icon {
  position: absolute;
  right: 50px;
  top: 32px;
}

.slide-1 .right-side .slogan {
  position: absolute;
  right: 150px;
  top: 120px;
}

.slide-1 .right-side .products {
  width: 337px;
  height: 307px;
  background-image: url("/assets/slide-1/product-container.svg");
  position: absolute;
  right: 120px;
  bottom: 120px;
}

.slide-1 .right-side .products .product-1 {
  position: absolute;
  bottom: 20px;
  right: 6px;
  z-index: 1;
}

.slide-1 .right-side .products .product-2 {
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 2;
}

.slide-1 .right-side .disclaimer {
  width: 560px;
  position: absolute;
  text-align: right;
  bottom: 40px;
  right: 50px;
  font-family: "Helvetica";
  color: white;
  font-size: 16px;
}
